---
import { getCollection } from 'astro:content';

import BlogListItem from '../../components/BlogListItem.astro';
import PageLayout from '../../layouts/PageLayout.astro';
import BaseHead from '../../components/BaseHead.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

const posts = (await getCollection('blog'))
  .filter((item) => item.slug.split('/')[0] === 'en')
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout>
  <BaseHead title={`${SITE_TITLE} | Blog`} description={`${SITE_DESCRIPTION}`} slot="meta" />
  <Fragment slot="main">
    <section>
      <ul>
        {
          posts.map((post) => (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <BlogListItem post={post} />
            </li>
          ))
        }
      </ul>
    </section>
  </Fragment>
</PageLayout>
