---
import { SITE_TITLE, SITE_DESCRIPTION, SITE_SUBTITLE } from '../consts';
import { getCollection } from 'astro:content';

import PageLayout from '../layouts/PageLayout.astro';
import BaseHead from '../components/BaseHead.astro';
import Intro from '../components/Intro.astro';
import BlogListItem from '../components/BlogListItem.astro';

const posts = (await getCollection('blog')).sort((a, b) => {
  return b.data.date.valueOf() - a.data.date.valueOf()
});
---

<PageLayout>
  <BaseHead title={`${SITE_TITLE} | ${SITE_SUBTITLE}`} description={`${SITE_DESCRIPTION}`} slot="meta" />
  <Fragment slot="main">
    <Intro />
    <section>
      <ul>
        {
          posts.map((post) => (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <BlogListItem post={post} />
            </li>
          ))
        }
      </ul>
    </section>
  </Fragment>
</PageLayout>
