---
import { getRelativeLocaleUrl } from 'astro:i18n';
import HeaderLink from "./HeaderLink.astro";
const lang = Astro.currentLocale || 'en';
---

<Fragment>
  <nav class="hidden md:inline">
    <section class="text-text-bold">
      <ul class="unset flex gap-4 [&>li]:p-0">
        <li><HeaderLink href={getRelativeLocaleUrl(lang, '/')}>Home</HeaderLink></li>
        <li><HeaderLink href={getRelativeLocaleUrl(lang, '/blog')}>Blog</HeaderLink></li>
        <li><HeaderLink href={getRelativeLocaleUrl(lang, '/tips')}>Tips</HeaderLink></li>
      </ul>
    </section>
  </nav>
  <nav class="md:hidden">
    <button id="mobile-menu-open">
      <figure>
        <Fragment set:html={`<svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M2 5.99519C2 5.44556 2.44556 5 2.99519 5H11.0048C11.5544 5 12 5.44556 12 5.99519C12 6.54482 11.5544 6.99039 11.0048 6.99039H2.99519C2.44556 6.99039 2 6.54482 2 5.99519Z" fill="currentColor"/><path d="M2 11.9998C2 11.4501 2.44556 11.0046 2.99519 11.0046H21.0048C21.5544 11.0046 22 11.4501 22 11.9998C22 12.5494 21.5544 12.9949 21.0048 12.9949H2.99519C2.44556 12.9949 2 12.5494 2 11.9998Z" fill="currentColor"/><path d="M2.99519 17.0096C2.44556 17.0096 2 17.4552 2 18.0048C2 18.5544 2.44556 19 2.99519 19H15.0048C15.5544 19 16 18.5544 16 18.0048C16 17.4552 15.5544 17.0096 15.0048 17.0096H2.99519Z" fill="currentColor"/></svg>`} />
      </figure>
      <span class="sr-only">Open mobile menu</span>
    </button>
    <section
      id="mobile-menu"
      class="hide-menu fixed top-0 left-0 z-10 w-full h-full transition-transform bg-black/75 border-primary-blue"
    >
      <div class="bg-bg-body w-[75%] h-full drop-shadow-2xl">
        <button id="mobile-menu-close" class="px-6 h-[5rem] text-lg xml-[1px]">
          <figure>
            <Fragment set:html={`<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.6569 6.34313C17.2663 5.9526 16.6332 5.95261 16.2426 6.34313L12 10.5858L7.75736 6.34313C7.36684 5.95261 6.73368 5.9526 6.34315 6.34313C5.95261 6.73367 5.95262 7.36683 6.34315 7.75735L10.5858 12L6.34315 16.2426C5.95261 16.6332 5.95261 17.2663 6.34315 17.6568C6.73368 18.0474 7.36682 18.0474 7.75736 17.6568L12 13.4142L16.2426 17.6568C16.6332 18.0474 17.2663 18.0474 17.6569 17.6568C18.0474 17.2663 18.0474 16.6332 17.6569 16.2426L13.4142 12L17.6569 7.75735C18.0474 7.36683 18.0474 6.73367 17.6569 6.34313Z" fill="currentColor"/>
              </svg>`} />
          </figure>
          <span class="sr-only">Close mobile menu</span>
        </button>
        <ul class="unset flex flex-col text-text-bold gap-4 [&>li]:p-0 px-6">
          <li><HeaderLink href="/">Home</HeaderLink></li>
          <li><HeaderLink href="/blog">Blog</HeaderLink></li>
          <li><HeaderLink href="/tips">Tips</HeaderLink></li>
        </ul>
      </div>
    </section>
  </nav>
</Fragment>

<script>
  // @ts-nocheck
  document.querySelector("#mobile-menu-open").addEventListener("click", () => {
    const menuElem = document.querySelector("#mobile-menu");
    menuElem.classList.remove("hide-menu");
    menuElem.classList.add("show-menu");
    document.body.style.overflow = "hidden";
  });

  document.querySelector("#mobile-menu-close").addEventListener("click", () => {
    const menuElem = document.querySelector("#mobile-menu");
    menuElem.classList.remove("show-menu");
    menuElem.classList.add("hide-menu");
    document.body.style.overflow = "auto";
  });
</script>

<style>
  .hide-menu {
    transform: translateX(-100%);
  }
  .show-menu {
    transform: translateX(0%);
  }
</style>